.input {
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 1.8rem;
  padding: 0.8rem;
  outline: none;
  color: var(--text-default);
  border: 0.2rem solid transparent;
  border-bottom: 0.2rem solid var(--primary);
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
}

.input:focus {
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  border: 0.2rem solid var(--primary);
}

.input::placeholder {
  color: var(--gray-500);
  font-size: 1.4rem;
  font-style: italic;
}

.input:disabled {
    border-bottom: 0.2rem solid var(--disabled);
    color: var(--text-muted);
}
